body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_LayoutGrid9
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_LayoutGrid9
   {
      background-attachment: scroll !important;
   }
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 75vh;
   background-clip: padding-box;
   background-color: transparent;
   background-image: url('../images/pixabay003.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   height: 75vh;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid9 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid9 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#LayoutGrid9-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 0px;
   background-color: #000000;
   opacity: 0.5;
}
#wb_LayoutGrid10
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid10
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid10 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid10 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid10 > .row > .col-1
{
   float: left;
}
#LayoutGrid10 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid10:before,
#LayoutGrid10:after,
#LayoutGrid10 .row:before,
#LayoutGrid10 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid10:after,
#LayoutGrid10 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid10 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 5px 15px 5px;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 5px 15px 5px;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 20px 5px 15px 5px;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 50px 0 0 0 ;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #000000;
   text-stroke: 1px #000000;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 37px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_JavaScript2
{
   margin: 20px 0 20px 0 ;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 50px 0 0 0 ;
   padding: 0;
   text-align: center;
}
#Heading9
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #000000;
   text-stroke: 1px #000000;
}
#wb_Heading10
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 20px 0 20px 0;
   text-align: center;
}
#Heading10
{
   color: #000000;
   font-family: Verdana;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#ThemeableButton1
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 0px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton1
{
   color: inherit;
}
#wb_ThemeableButton1 .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2096%2096%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M17%2025%20L17%2063%20L79%2063%20L79%2025Z%20%20M80%2072%20L97%2071%20L97%2081%20L%2d1%2081%20L%2d1%2071%20L16%2072%20C13%2073%2c%2011%2072%2c%2010%2070%20C8%2068%2c%207%2066%2c%207%2064%20L7%2024%20C7%2022%2c%208%2020%2c%2010%2018%20C11%2016%2c%2013%2015%2c%2016%2015%20L80%2015%20C82%2015%2c%2085%2016%2c%2086%2018%20C88%2020%2c%2089%2022%2c%2089%2024%20L89%2064%20C89%2066%2c%2088%2068%2c%2086%2070%20C85%2072%2c%2082%2073%2c%2080%2072%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
   display: inline-block;
   overflow: visible;
   margin-right: 6px;
   vertical-align: middle;
   width: 24px;
   height: 24px;
}
#wb_ThemeableButton1:hover .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%232B2B2B%22%20viewBox%3d%220%200%2096%2096%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M17%2025%20L17%2063%20L79%2063%20L79%2025Z%20%20M80%2072%20L97%2071%20L97%2081%20L%2d1%2081%20L%2d1%2071%20L16%2072%20C13%2073%2c%2011%2072%2c%2010%2070%20C8%2068%2c%207%2066%2c%207%2064%20L7%2024%20C7%2022%2c%208%2020%2c%2010%2018%20C11%2016%2c%2013%2015%2c%2016%2015%20L80%2015%20C82%2015%2c%2085%2016%2c%2086%2018%20C88%2020%2c%2089%2022%2c%2089%2024%20L89%2064%20C89%2066%2c%2088%2068%2c%2086%2070%20C85%2072%2c%2082%2073%2c%2080%2072%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#wb_ThemeableButton1:active .ui-primary
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23000000%22%20viewBox%3d%220%200%2096%2096%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M17%2025%20L17%2063%20L79%2063%20L79%2025Z%20%20M80%2072%20L97%2071%20L97%2081%20L%2d1%2081%20L%2d1%2071%20L16%2072%20C13%2073%2c%2011%2072%2c%2010%2070%20C8%2068%2c%207%2066%2c%207%2064%20L7%2024%20C7%2022%2c%208%2020%2c%2010%2018%20C11%2016%2c%2013%2015%2c%2016%2015%20L80%2015%20C82%2015%2c%2085%2016%2c%2086%2018%20C88%2020%2c%2089%2022%2c%2089%2024%20L89%2064%20C89%2066%2c%2088%2068%2c%2086%2070%20C85%2072%2c%2082%2073%2c%2080%2072%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton1 .ui-button:disabled
{
   opacity: .5;
   pointer-events: none;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Section1
{
   height: 357px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #4B0082;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-shadow: 3px 1px 5px #000000;
   text-align: center;
}
#Section1-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 50%;
   top: 5.9%;
   transform: translateX(-50%);
   height: 15.7%;
   width: 237px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Section1-card-item1
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 6.7%;
   top: 14.3%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section1-card-item1 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section1-card-item1 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section1-card-item2
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 6.7%;
   top: 24.4%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section1-card-item2 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section1-card-item2 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section1-card-item3
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 6.7%;
   top: 34.7%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section1-card-item3 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section1-card-item3 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section1-card-item4
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 6.7%;
   top: 44.8%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section1-card-item4 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section1-card-item4 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#wb_Section2
{
   height: 357px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #C71585;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-shadow: 3px 1px 5px #000000;
   text-align: center;
}
#Section2-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 50%;
   top: 5.9%;
   transform: translateX(-50%);
   height: 15.7%;
   width: 237px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Section2-card-item1
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 14.3%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item1 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item1 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item2
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 24.4%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item2 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item2 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item3
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 34.7%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item3 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item3 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item4
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.4%;
   top: 44.8%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item4 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item4 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item5
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.4%;
   top: 54.9%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item5 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item5 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item6
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 65%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item6 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item6 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item7
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.4%;
   top: 75.1%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item7 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item7 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section2-card-item8
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 85.4%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section2-card-item8 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section2-card-item8 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#wb_Section3
{
   height: 357px;
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #006400;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-shadow: 3px 1px 5px #000000;
   text-align: center;
}
#Section3-card-body
{
   flex: 1 1 auto;
   font-size: 0;
}
#Section3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 50%;
   top: 5.9%;
   transform: translateX(-50%);
   height: 15.7%;
   width: 237px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#Section3-card-item1
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 14.3%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section3-card-item1 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section3-card-item1 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section3-card-item2
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 24.4%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section3-card-item2 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section3-card-item2 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#Section3-card-item3
{
   display: inline-flex;
   align-items: center;
   box-sizing: border-box;
   margin: 0;
   position: absolute;
   left: 7.1%;
   top: 34.7%;
   height: 7.6%;
   width: 86.6%;
   border: 2px solid rgba(255,255,255,0.40);
   border-radius: 4px;
   background-color: #F5F5F5;
   background-image: none;
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   justify-content: center;
   text-align: center;
}
#Section3-card-item3 a
{
   color: inherit;
   width: 100%;
   display: block;
   padding: 2px 2px 2px 2px;
   text-decoration: none;
}
#Section3-card-item3 i
{
   margin-right: 20px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
